# Ignoring the operating system’s junk files
Thumbs .db
.DS_Store

# Ignoring Excel’s temporary key files
~$*.xlsx
~$*.xls
~$*.csv
*.tmp

# Ignoring Power BI junk files and logs
*.pbit.backup
*.pbix.backup
*.pbi.user
*.user
.pbi/
